input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

html, body {
    height: 100%!important;
}

body {
    background: #f8f8f8;
}

.form-elegant .font-small {
    font-size: 0.8rem;
}
    
.form-elegant .z-depth-1a {
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half, .form-elegant .btn:hover {
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.margin-top {
    margin-top: 40px!important;
}